<%- include('../includes/header.ejs') %>
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">FORT HERMON - DASHBOARD</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Daily HSE Report Form
                </li>
            </ol>


            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>WATER AND OIL RECORD (RECEIVED)
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Date</th>
                                <th>Contractor Name</th>
                                <th>Job Description</th>
                                <th>Total Manhours</th>
                                <th>Comments</th>
                                <th
                            </tr>
                        </thead>

                        <tbody>
                            <% contractor.forEach((e)=> { %>
                                <tr>
                                    <td><%= e.id %></td>
                                    <td><%= e.date %></td>
                                    <td><%= e.contractor_name %></td>
                                    <td><%= e.job_desc %></td>
                                    <td><%= e.total_manhours %></td>
                                    <td><%= e.jobstatus %></td>
                                    <td><%= e.comment %></td>
                                    <td>
                                        <div class="table-data-feature ">
    
                                            <a href='/details?id=<%= e.id %>'><button class="item " style="margin-right: 10px;"
                                                data-toggle="tooltip " data-placement="top "
                                                title="Edit ">
                                                <i class="zmdi zmdi-edit "></i>
                                            </button></a>
                                        <a href='/admin/hse/table/contractor/<%= e.id %>'><button class="item "
                                                data-toggle="tooltip " data-placement="top "
                                                title="Delete ">
                                                <i class="zmdi zmdi-delete "></i>
                                            </button></a>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>