<%- include('../includes/header.ejs') %>
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">FORT HERMON - DASHBOARD</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Daily HSE Report Form		
                            </li>
                        </ol>
                      
                        
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>OTHER HSE ACTIVITIE</div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Date</th> 
                                            <th>Comment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% other.forEach((e) => { %>
                                        <tr>
                                            <td><%= e.id %></td>
                                            <td><%= e.date %></td>
                                            <td><%= e.comment %></td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <%- include('../includes/footer.ejs') %>
