<%- include('../includes/header.ejs') %>
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">FORT HERMON - DASHBBORD</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Daily HSE Report Form
                </li>
            </ol>


            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>WATER AND OIL RECORD (RECEIVED)
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Date</th>
                                <th>Diesel (Ltr)</th>
                                <th>Petrol (Ltr)</th>
                                <th>Other oil (Ltr)</th>
                                <th>Water (Ltr)</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% water.forEach((e) => { %>
                            <tr>
                                <td><%= e.id %></td>
                                <td><%= e.date %></td>
                                <td><%= e.diesel %></td>
                                <td><%= e.petrol %></td>
                                <td><%= e.others %></td>
                                <td><%= e.water %></td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>