<%- include('../includes/index_header.ejs') %>
    <!-- STATISTIC-->
    <section class="statistic statistic2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item statistic__item--green">
                        <center>
                            <h2 class="number">72</h2>
                            <span class="desc">Current profit margin</span>
                        </center>

                        <div class="icon">
                            <i class="zmdi zmdi-account-o"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item statistic__item--orange">
                        <center>
                            <h2 class="number">200</h2>
                            <span class="desc">Most ordered commodity</span>
                        </center>

                        <div class="icon">
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item statistic__item--blue">
                        <center>
                            <h2 class="number">120</h2>
                            <span class="desc">Total count of commodites sold</span>
                        </center>

                        <div class="icon">
                            <i class="zmdi zmdi-calendar-note"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item statistic__item--red">
                        <center>
                            <h2 class="number">60</h2>
                            <span class="desc">Advertising platform providing most clients</span>
                        </center>

                        <div class="icon">
                            <i class="zmdi zmdi-money"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END STATISTIC-->

    <!-- STATISTIC CHART-->
    <section class="statistic-chart">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-3 m-b-35">Analysis</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <!-- CHART-->
                    <div class="statistic-chart-1">
                        <h3 class="title-7 m-b-30">Cost of items purchased</h3>
                        <div class="chart-wrap">
                            <canvas id="widgetChart5"></canvas>
                        </div>
                        <div class="statistic-chart-1-note">
                            <span class="big">10,368</span>
                            <span>/ 16220 items sold</span>
                        </div>
                    </div>
                    <!-- END CHART-->
                </div>
                <div class="col-md-6 col-lg-4">
                    <!-- TOP CAMPAIGN-->
                    <div class="top-campaign">
                        <h3 class="title-7 m-b-30">Cost of items sold</h3>
                        <div class="table-responsive">
                            <table class="table table-top-campaign">
                                <tbody>
                                    <tr>
                                        <td>1. Commodity</td>
                                        <td>261</td>
                                    </tr>
                                    <tr>
                                        <td>2. Purchased</td>
                                        <td>399</td>
                                    </tr>
                                    <tr>
                                        <td>3. Customer</td>
                                        <td>3640</td>
                                    </tr>
                                    <tr>
                                        <td>4. Location</td>
                                        <td>203</td>
                                    </tr>
                                    <tr>
                                        <td>5. Sales</td>
                                        <td>366</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END TOP CAMPAIGN-->
                </div>
                <div class="col-md-6 col-lg-4">
                    <!-- CHART PERCENT-->
                    <div class="chart-percent-2">
                        <h3 class="title-7 m-b-30">Difference in items purchased and sold</h3>
                        <div class="chart-wrap">
                            <canvas id="percent-chart2"></canvas>
                            <div id="chartjs-tooltip">
                                <table></table>
                            </div>
                        </div>
                        <div class="chart-info">
                            <div class="chart-note">
                                <span class="dot dot--blue"></span>
                                <span>products</span>
                            </div>
                            <div class="chart-note">
                                <span class="dot dot--red"></span>
                                <span>Services</span>
                            </div>
                        </div>
                    </div>
                    <!-- END CHART PERCENT-->
                </div>
            </div>
        </div>
    </section>
    <!-- END STATISTIC CHART-->

    <center>
        <a href="/chart">
            <button class="au-btn au-btn-icon au-btn--green au-btn--small"> more analysis</button>
        </a>
    </center>

    <!-- DATA TABLE-->
    <section class="p-t-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-5 m-b-35">data table</h3>
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <div class="rs-select2--light rs-select2--md">
                                <select class="js-select2" name="property">
                                    <option selected="selected">Check</option>
                                    <option value="purchase_date">Purchased Date</option>
                                    <option value="purchase_cost">Purchased Cost</option>
                                    <option value="customer_name">Customer Name</option>
                                    <option value="phone_number">Phone Number</option>
                                    <option value="commodity">Commodity</option>
                                    <option value="commodity_size">Commodity Size</option>
                                    <option value="commodity_color">Commodity Color</option>
                                    <option value="sales_date">Sales Date</option>
                                    <option value="sales_cost">Sales Cost</option>
                                    <option value="purchasing_gender">Purchasing Gender</option>
                                    <option value="">Delivery Location</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <div class="rs-select2--light rs-select2--sm">
                                <select class="js-select2" name="time">
                                    <option selected="selected">Today</option>
                                    <option value="">3 Days</option>
                                    <option value="">1 Week</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <button class="au-btn-filter">
                                <i class="zmdi zmdi-filter-list"></i>filters</button>
                        </div>
                        <div class="table-data__tool-right">
                            <a href="/add"><button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                    <i class="zmdi zmdi-plus"></i>add item</button></a>
                            <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                <select class="js-select2" name="type">
                                    <option selected="selected">Export</option>
                                    <option value="csv">CSV</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </th>
                                    <th>Purchased Date</th>
                                    <th>Purchased Cost</th>
                                    <th>Customer Name </th>
                                    <th>Phone Number</th>
                                    <th>Commodity</th>
                                    <th>Commodity Size</th>
                                    <th>Commodity Color</th>
                                    <th>Sales Date</th>
                                    <th>Sales Cost</th>
                                    <th>Purchasing Gender</th>
                                    <th>Mode of Payment</th>
                                    <th>Delivery Location</th>
                                    <th>Mode of Transaction</th>
                                    <th>Advertising Medium</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.tableLimit.forEach(function(e) { %>
                                    <tr class="tr-shadow">
                                        <td>
                                            <label class="au-checkbox">
                                                <input type="checkbox">
                                                <span class="au-checkmark"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <%= e.purchased_date %>
                                        </td>
                                        <td>
                                            <%= e.purchased_cost %>
                                        </td>
                                        <td>
                                            <&= e.customer_name %>
                                        </td>
                                        <td>
                                            <%= e.phone_no %>
                                        </td>
                                        <td>
                                            <%= e.commodity %>
                                        </td>
                                        <td>
                                            <%= e.commodity_size %>
                                        </td>
                                        <td>
                                            <%= e.commodity_color %>
                                        </td>
                                        <td>
                                            <%= e.sales_date %>
                                        </td>
                                        <td>
                                            <%= e.sales_cost %>
                                        </td>
                                        <td>
                                            <%= e.purchasing_gender %>
                                        </td>
                                        <td>
                                            <%= e.mode_payment %>
                                        </td>
                                        <td>
                                            <%= e.delivery_location %>
                                        </td>
                                        <td>
                                            <%= e.mode_transaction %>
                                        </td>
                                        <td>
                                            <%= e.advertising_medium %>
                                        </td>

                                        <td>
                                            <span class="status--process">
                                                <%= e.status %>
                                            </span>
                                        </td>
                                        <td>
                                            <div class="table-data-feature ">

                                                <a href='/details/<%= e.id %>'><button class="item " data-toggle="tooltip " data-placement="top " title="Edit ">
                                                    <i class="zmdi zmdi-edit "></i>
                                                </button></a>
                                                <a href='/delete/<%= e.id %>'><button class="item " data-toggle="tooltip " data-placement="top " title="Delete ">
                                                    <i class="zmdi zmdi-delete "></i>
                                                </button></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END DATA TABLE-->
    <%- include('../includes/index_footer.ejs') %>