<%- include('../includes/header.ejs') %> <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <section class="statistic statistic2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="statistic__item statistic__item--green">
                                    <center>
                                        <h2 class="number">
                                            <%= firstPage.pedestrians %>
                                        </h2>
                                        <span class="desc">Total Pedestrian</span>
                                    </center>
                                    <div class="icon">
                                        <i class="zmdi zmdi-account-o"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="statistic__item statistic__item--orange">
                                    <center>
                                        <h2 class="number">
                                            <%= firstPage.vehicles %>
                                        </h2>
                                        <span class="desc">Total Vehicle</span>
                                    </center>
                                    <div class="icon">
                                        <i class="zmdi zmdi-shopping-cart"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="statistic__item statistic__item--blue">
                                    <center>
                                        <h2 class="number">
                                            <%= firstPage.others %>
                                        </h2>
                                        <span class="desc">Other Entries</span>
                                    </center>
                                    <div class="icon">
                                        <i class="zmdi zmdi-calendar-note"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="statistic__item statistic__item--red">
                                    <center>
                                        <h2 class="number">
                                            <%= firstPage.visitors %>
                                        </h2>
                                        <span class="desc">Total Visitors</span>
                                    </center>
                                    <div class="icon">
                                        <i class="zmdi zmdi-money"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="statistic statistic2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="statistic__item statistic__item--green">
                                    <center>
                                        <h2 class="number">
                                            <%= firstPage.staffs %>
                                        </h2>
                                        <span class="desc">Total Staff</span>
                                    </center>
                                    <div class="icon">
                                        <i class="zmdi zmdi-account-o"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="statistic__item statistic__item--orange">
                                    <center>
                                        <h2 class="number">
                                            <%= firstPage.vehicles %>
                                        </h2>
                                        <span class="desc">Total Vehicle</span>
                                    </center>
                                    <div class="icon">
                                        <i class="zmdi zmdi-shopping-cart"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="statistic__item statistic__item--blue">
                                    <center>
                                        <h2 class="number">
                                            <%= firstPage.others %>
                                        </h2>
                                        <span class="desc">Other Entries</span>
                                    </center>
                                    <div class="icon">
                                        <i class="zmdi zmdi-calendar-note"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="statistic__item statistic__item--red">
                                    <center>
                                        <h2 class="number">
                                            <%= firstPage.visitors %>
                                        </h2>
                                        <span class="desc">Total Visitors</span>
                                    </center>
                                    <div class="icon">
                                        <i class="zmdi zmdi-money"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- end document-->
    <%- include('../includes/footer.ejs') %>