<%- include('../includes/header.ejs') %> <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                      <div class="au-card m-b-30">
                        <div class="au-card-inner">
                          <h3 class="title-2 m-b-40">Most Effective Advertising Medium</h3>
                          <canvas id="singelBarChart"></canvas>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="au-card m-b-30">
                        <div class="au-card-inner">
                          <h3 class="title-2 m-b-40">Profit By Day</h3>
                          <canvas id="profitByDay"></canvas>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="au-card m-b-30">
                        <div class="au-card-inner">
                          <h3 class="title-2 m-b-30">Most Frequent Gender</h3>
                          <canvas id="frequencyGender"></canvas>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="au-card m-b-30">
                        <div class="au-card-inner">
                          <h3 class="title-2 m-b-30">Mode Of Transaction</h3>
                          <canvas id="frequencytransaction"></canvas>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="au-card m-b-30">
                        <div class="au-card-inner">
                          <h3 class="title-2 m-b-30">Mode Of Payment</h3>
                          <canvas id="frequencypayment"></canvas>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 m-b-20">
                      <!-- TOP CAMPAIGN-->
                      <div class="top-campaign" style="height: 93.5%;">
                        <h3 class="title-2 m-b-0">Most Frequent Customers</h3>
                        <div class="table-responsive mt-4">
                          <table class="table table-top-campaign">
                            <tbody>
                              <% getVolumeOfPlastics.forEach(function(e) { %>
                                <tr>
                                  <td>
                                    <%= e.dataValues.product %>
                                  </td>
                                  <td>
                                    <%= e.dataValues.total %>
                                  </td>
                                </tr>
                                </tr>
                                <% }) %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-2 m-b-20">
                      <!-- TOP CAMPAIGN-->
                      <div class="top-campaign" style="height: 93.5%;">
                        <h3 class="title-2 m-b-0">Total Profit</h3>
                          <p style="text-align: center; color: rgba(0, 123, 255,0.9);" class="m-t-40 m-b-25"><%= totalProfit.toLocaleString('en-US', {
                            style: 'currency',
                            currency: 'NGN',
                          }) %></p>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 m-b-20">
                      <!-- TOP CAMPAIGN-->
                      <div class="top-campaign" style="height: 93.5%;">
                        <h3 class="title-2 m-b-0">Total Purchase Cost</h3>
                        <p style="text-align: center; color: rgba(0, 123, 255,0.9);" class="m-t-40 m-b-25"><%= totalPurchase.toLocaleString('en-US', {
                          style: 'currency',
                          currency: 'NGN',
                        }) %></h1>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-2 m-b-20">
                      <!-- TOP CAMPAIGN-->
                      <div class="top-campaign" style="height: 93.5%;">
                        <h3 class="title-2 m-b-0">Total Sales Cost</h3>
                        <p style="text-align: center; color: rgba(0, 123, 255,0.9);" class="m-t-40 m-b-25"><%= totalSales.toLocaleString('en-US', {
                          style: 'currency',
                          currency: 'NGN',
                        }) %></p>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="au-card m-b-30">
                        <div class="au-card-inner">
                          <h3 class="title-2 m-b-40">Most Delivered Location</h3>
                          <canvas id="lineChart"></canvas>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                      <!-- TOP CAMPAIGN-->
                      <div class="top-campaign" style="height: 93.5%;">
                        <h3 class="title-2 m-b-0">most Purchased Item</h3>
                        <br>
                        <div class="table-responsive">
                          <table class="table table-top-campaign">
                            <tbody>
                              <!-- <% mostPurchased.forEach(function(e) { %>
                                <tr>
                                  <td>
                                    <%= e.dataValues.commodity %>
                                  </td>
                                  <td>
                                    <%= e.dataValues.total %>
                                  </td>
                                </tr>
                                </tr>
                                <% }) %> -->
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <!-- end document-->
    <%- include('../includes/footer.ejs') %>