<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard -
        <%=title%> Admin
    </title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div id="simpleModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Notification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBody">
                    I love ASPSnippets!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <a href="#">
                            <!-- <img src="images/icon/logo-white.png" alt="CoolAdmin" /> -->
                        </a>
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">

                            <li class="has-sub">
                                <a href="/">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard
                                    <span class="bot-line"></span></a>

                            </li>
                            <li>
                                <a href="/add">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span class="bot-line"></span>Add Item</a>
                            </li>
                            <li>
                                <a href="/table">
                                    <i class="fas fa-eye"></i>
                                    <span class="bot-line"></span>View data</a>
                            </li>
                            <li class="has-sub">
                                <a href="/chart">
                                    <i class="fas fa-chart-bar"></i>
                                    <span class="bot-line"></span>Check analysis</a>
                            </li>

                        </ul>
                    </div>
                    <div class="header__tool">
                        <div class="header-button-item has-noti js-item-menu">
                            <i class="zmdi zmdi-notifications"></i>
                            <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
                                <div class="notifi__title">
                                    <p>You have <%= notification.length %> Notifications</p>
                                </div>
                                <% for (var i=0; i <=notification.length -1; i++) { %>
                                    <div class="notifi__item"
                                        onclick="onClickFunction('<%= notification[i].message %>', '<%= notification[i].id %>');">
                                        <div class="bg-c1 img-cir img-40">
                                            <i class="zmdi zmdi-email-open"></i>
                                        </div>
                                        <div class="content">
                                            <p>
                                                <%= notification[i].message %>
                                            </p>
                                            <span class="date">
                                                <%= notification[i].createdAt %>
                                            </span>
                                        </div>
                                    </div>
                                    <%}%>
                            </div>
                        </div>

                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                <div class="image">
                                    <% if (user.trade==='Plastics' ){ %>
                                        <img src="images/icon/plastic.png" alt=" <%= user.business_name %>" />
                                        <% }else{%>
                                            <img src="images/icon/avatar-01.jpg" alt=" <%= user.business_name %>" />
                                            <%}%>
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#">
                                        <%= user.business_name %>
                                    </a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <% if (user.trade==='Plastics' ){ %>
                                                    <img src="images/icon/plastic.png"
                                                        alt="<%= user.business_name %>" />
                                                    <% }else{%>
                                                        <img src="images/icon/avatar-01.jpg"
                                                            alt="<%= user.business_name %>" />
                                                        <%}%>
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#">
                                                    <%= user.business_name %>
                                                </a>
                                            </h5>
                                            <span class="email">
                                                <%= user.email %>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="/profile">
                                                <i class="zmdi zmdi-account"></i>Account</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-settings"></i>Setting</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-money-box"></i>Billing</a>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__footer">
                                        <a href="/logout">
                                            <i class="zmdi zmdi-power"></i>Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- HEADER MOBILE-->
        <header class="header-mobile header-mobile-2 d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/">
                            <!-- <img src="images/icon/logo-white.png" alt="CoolAdmin" /> -->
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a href="/">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                                <span class="bot-line"></span></a>

                        </li>
                        <li>
                            <a href="/add">
                                <i class="fas fa-shopping-basket"></i>
                                <span class="bot-line"></span>Add Item</a>
                        </li>
                        <li>
                            <a href="/table">
                                <i class="fas fa-eye"></i>
                                <span class="bot-line"></span>View data</a>
                        </li>
                        <li class="has-sub">
                            <a href="/chart">
                                <i class="fas fa-chart-bar"></i>
                                <span class="bot-line"></span>Check analysis</a>
                        </li>
                    </ul>
                    </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="sub-header-mobile-2 d-block d-lg-none">
            <div class="header__tool">
                <div class="header-button-item has-noti js-item-menu">
                    <i class="zmdi zmdi-notifications"></i>
                    <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
                        <div class="notifi__title">
                            <p>You have <%= notification.length %> Notifications</p>
                        </div>
                        <% for (var i=0; i <=notification.length -1; i++) { %>
                            <div class="notifi__item"
                                onclick="onClickFunction('<%= notification[i].message %>', '<%= notification[i].id %>');">
                                <div class="bg-c1 img-cir img-40">
                                    <i class="zmdi zmdi-email-open"></i>
                                </div>
                                <div class="content">
                                    <p>
                                        <%= notification[i].message %>
                                    </p>
                                    <span class="date">
                                        <%= notification[i].createdAt %>
                                    </span>
                                </div>
                            </div>
                            <%}%>
                    </div>
                </div>

                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">
                        <div class="image">
                            <% if (user.trade==='Plastics' ){ %>
                                <img src="images/icon/plastic.png" alt=" <%= user.business_name %>" />
                                <% }else{%>
                                    <img src="images/icon/avatar-01.jpg" alt=" <%= user.business_name %>" />
                                    <%}%>
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#">
                                <%= user.business_name %>
                            </a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="image">
                                    <a href="#">
                                        <% if (user.trade==='Plastics' ){ %>
                                            <img src="images/icon/plastic.png" alt=" <%= user.business_name %>" />
                                            <% }else{%>
                                                <img src="ihttps://dechconsult.com/assets/images/logo.png"
                                                    alt=" <%= user.business_name %>" />
                                                <%}%>
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        <a href="#">
                                            <%= user.business_name %>
                                        </a>
                                    </h5>
                                    <span class="email">
                                        <%= user.email %>
                                    </span>
                                </div>
                            </div>
                            <div class="account-dropdown__body">
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-account"></i>Account</a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                </div>
                            </div>
                            <div class="account-dropdown__footer">
                                <a href="/logout">
                                    <i class="zmdi zmdi-power"></i>Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END HEADER MOBILE -->

        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">
            <!-- BREADCRUMB-->
            <section class="au-breadcrumb2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="au-breadcrumb-content">
                                <div class="au-breadcrumb-left">
                                    <span class="au-breadcrumb-span">You are here:</span>
                                    <ul class="list-unstyled list-inline au-breadcrumb__list">
                                        <li class="list-inline-item active">
                                            <a href="#">Home</a>
                                        </li>
                                        <li class="list-inline-item seprate">
                                            <span>/</span>
                                        </li>
                                        <li class="list-inline-item">Dashboard</li>
                                    </ul>
                                </div>
                                <form class="au-form-icon--sm" action="/search" method="post" id="searchForm">
                                    <input class="au-input--w300 au-input--style2" name="search" type="text"
                                        placeholder="Search for data &amp; reports...">
                                    <input id="holder" type="hidden" name="holder">
                                    <button class="au-btn--submit2" type="submit">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->

            <!-- WELCOME-->
            <section class="welcome p-t-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title-4">Welcome back
                                <span> Admin!</span>
                            </h1>
                            <hr class="line-seprate">
                        </div>
                    </div>
                </div>
            </section>
            <!-- END WELCOME-->