<%- include('./include/header.ejs') %>
	<div class="main-container">
        <div class="min-height-200px">

            <div class="pd-20">
                <h4 class="text-blue h4">Introduction</h4>
            </div>
           
            <!-- Simple Datatable start -->
            <div class="card-box mb-30">
                <div class="pd-20">
                    <span>Part 1: Management Review</span>
                </div>
                <div class="pb-20">
                    <table class="table hover multiple-select-row data-table-export wrap"> 
                        <thead>
                            <tr>
                                <th class="table-plus datatable-nosort">S/N</th>
                                <th>When are HSE meetings conducted? </th>
                                <th>Evidence of what was discussed?</th>
                                <th>Date of the last meeting held?</th>
                                <th>Other comment </th>
                                <th class="datatable-nosort">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i <= mgtsReviews.length - 1; i++) { %>
                            <tr>
                                <td class="table-plus"><%= i + 1%></td>
                                <td><%= mgtsReviews[i].hse_meeting %></td>
                                <td><%= mgtsReviews[i].evidence_discussed %></td>
                                <td><%= mgtsReviews[i].date_last_meeting %></td>
                                <td><%= mgtsReviews[i].other_comment %></td>
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                                            href="#" role="button" data-toggle="dropdown">
                                            <i class="dw dw-more"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                            <!-- <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                            <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a> -->
                                            <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i>
                                                Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                          <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Simple Datatable End -->

            <!-- Simple Datatable start -->
            <div class="card-box mb-30">
                <div class="pd-20">
                    <span>Part 2: Executive Summary</span>
                </div>
                <div class="pb-20">
                    <table class="table hover multiple-select-row data-table-export wrap"> 
                        <thead>
                            <tr>
                                <th class="table-plus datatable-nosort">S/N</th>
                                <th>Is there evidence of workers compensation for workers?</th>
                                <th>if yes, when was it paid last? </th>
                                <th>Is there evidence of building occupancy insurance? </th>
                                <th>if yes, when was it paid last? </th>
                                <th>Other comment </th>
                                <th class="datatable-nosort">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i <= insurance.length - 1; i++) { %>
                            <tr>
                                <td class="table-plus"><%= i + 1%></td>
                                <td><%= insurance[i].evidence_workers_compensation %></td>
                                <td><%= insurance[i].evidence_workers_compensation === "Yes" ? insurance[i].when_paid_last : "None" %></td>
                                <td><%= insurance[i].evidence_building_occupancy_insurance %></td>
                                <td><%= insurance[i].evidence_building_occupancy_insurance === "Yes" ? insurance[i].when_paid_last_insurance : "None" %></td>
                                <td><%= insurance[i].other_comment %></td>
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                                            href="#" role="button" data-toggle="dropdown">
                                            <i class="dw dw-more"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                            <!-- <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                            <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a> -->
                                            <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i>
                                                Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                          <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Simple Datatable End -->
            
        </div>
			<div class="footer-wrap pd-20 mb-20 card-box">
				Auditor | copyright - 2023
				<a href="https://github.com/dropways" target="_blank">dech</a>
			</div>
		</div>
	</div>

	<!-- js -->
	<script src="vendors/scripts/core.js"></script>
	<script src="vendors/scripts/script.min.js"></script>
	<script src="vendors/scripts/process.js"></script>
	<script src="vendors/scripts/layout-settings.js"></script>
	<script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
	<script src="src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
	<script src="src/plugins/datatables/js/dataTables.responsive.min.js"></script>
	<script src="src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <script src="vendors/scripts/dashboard3.js"></script>
	<!-- buttons for Export datatable -->
	<script src="src/plugins/datatables/js/dataTables.buttons.min.js"></script>
	<script src="src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
	<script src="src/plugins/datatables/js/buttons.print.min.js"></script>
	<script src="src/plugins/datatables/js/buttons.html5.min.js"></script>
	<script src="src/plugins/datatables/js/buttons.flash.min.js"></script>
	<script src="src/plugins/datatables/js/pdfmake.min.js"></script>
	<script src="src/plugins/datatables/js/vfs_fonts.js"></script>
	<!-- Datatable Setting js -->
	<script src="vendors/scripts/datatable-setting.js"></script>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS" height="0" width="0"
			style="display: none; visibility: hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
</body>

</html>