<%- include('./include/header.ejs') %>
	<div class="main-container">
        <div class="min-height-200px">

            <div class="pd-20">
                <h4 class="text-blue h4">Section 6</h4>
            </div>
           
            <!-- Simple Datatable start -->
            <div class="card-box mb-30">
                <div class="pd-20">
                    <span>Pictorial Evidence</span>
                </div>
                <div class="pb-20">
                    <table class="table hover multiple-select-row data-table-export wrap"> 
                        <thead>
                            <tr>
                                <th class="table-plus datatable-nosort">S/N</th>
                                <th>Poor housekeeping</th>
                                <th>Trailing Cable</th>
                                <th>Fire fighting equipment</th>
                                <th>Waste Area</th>
                                <th>Stairs And Staircase</th>
                                <th>Safety Signs</th>
                                <th>WorkStations</th>
                                <th>Toilets</th>
                                <th>Lightening</th>
                                <th>Muster Point </th>
                                <th>Hazard Spotted</th>
                                <th>Front of the bank</th>
                                <th>Generator area</th>
                                <th class="datatable-nosort">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i <= image_path.length - 1; i++) { %>
                            <tr>
                                <td class="table-plus"><%= i + 1%></td>
                                <td><</td>
                                <td><%= image_path[i].trailing_cable %></td>
                                <td><%= image_path[i].fire_fighting_equipment %></td>
                                <td><%= image_path[i].waste_area %></td>
                                <td><%= image_path[i].stairs_and_staircase %></td>
                                <td><%= image_path[i].safety_signs %></td>
                                <td><%= image_path[i].workstations %></td>
                                <td><%= image_path[i].toilets %></td>
                                <td><%= image_path[i].lighting %></td>
                                <td><%= image_path[i].muster_point %></td>
                                <td><%= image_path[i].hazard_spotted %></td>
                                <td><%= image_path[i].generator_area %></td>
                                <td><%= image_path[i].front_of_the_bank %></td>
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                                            href="#" role="button" data-toggle="dropdown">
                                            <i class="dw dw-more"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                            <!-- <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                            <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a> -->
                                            <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i>
                                                Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                          <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Simple Datatable End -->
            
        </div>
			<div class="footer-wrap pd-20 mb-20 card-box">
				Auditor | copyright - 2023
				<a href="https://github.com/dropways" target="_blank">dech</a>
			</div>
		</div>
	</div>

	<!-- js -->
	<script src="vendors/scripts/core.js"></script>
	<script src="vendors/scripts/script.min.js"></script>
	<script src="vendors/scripts/process.js"></script>
	<script src="vendors/scripts/layout-settings.js"></script>
	<script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
	<script src="src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
	<script src="src/plugins/datatables/js/dataTables.responsive.min.js"></script>
	<script src="src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <script src="vendors/scripts/dashboard3.js"></script>
	<!-- buttons for Export datatable -->
	<script src="src/plugins/datatables/js/dataTables.buttons.min.js"></script>
	<script src="src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
	<script src="src/plugins/datatables/js/buttons.print.min.js"></script>
	<script src="src/plugins/datatables/js/buttons.html5.min.js"></script>
	<script src="src/plugins/datatables/js/buttons.flash.min.js"></script>
	<script src="src/plugins/datatables/js/pdfmake.min.js"></script>
	<script src="src/plugins/datatables/js/vfs_fonts.js"></script>
	<!-- Datatable Setting js -->
	<script src="vendors/scripts/datatable-setting.js"></script>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS" height="0" width="0"
			style="display: none; visibility: hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
</body>

</html>